.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem;
  padding: 2rem;
  margin-top: 5rem;
}

.movie-card {
  background: #111;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card,
h2 {
  font-size: 1.2rem;
  margin: 0.75rem;
}

.movie-card,
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-card,
p {
  margin: 0.75rem;
  font-size: 1rem;
}

.movie-card .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
}
.movie-card,
h2 {
  font-size: 1.2rem;
  margin: 0.75rem;
}

.movie-card,
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-card,
p {
  margin: 0.75rem;
  font-size: 1rem;
}

/* ICONS CONTAINER */
.movie-card .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.fa-heart {
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-heart.liked {
  color: #009f5f;
}

.movie-card input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  accent-color: #009f5f;
}
