body {
  font-size: 18px;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #009f5f;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    color: #009f5f;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
  }
  .side-bar{
    margin-top: 12rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    color: #009f5f;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
  }
  .side-bar{
    margin-top: 12rem;
  }
}

button {
  background-color: #009f5f;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00b26a;
}
